<h3 class="text-center">Units</h3>
<app-faction-selector (factionSelected)="displayFaction($event)" (unreleasedToggled)="toggleUnreleased($event)"></app-faction-selector>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <img src="assets\images\Commander.png" class="rankImage"><span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <span *ngFor="let mini of units"><app-unit-detail *ngIf="mini.faction === currentFaction && mini.rank === 'Commander' && (mini.released || showUnreleased)" [unit]="mini"></app-unit-detail></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <img src="assets\images\Operative.png" class="rankImage"><span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <span *ngFor="let mini of units"><app-unit-detail *ngIf="mini.faction === currentFaction && mini.rank === 'Operative'  && (mini.released || showUnreleased)" [unit]="mini"></app-unit-detail></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <img src="assets\images\Corps.png" class="rankImage"><span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <span *ngFor="let mini of units"><app-unit-detail *ngIf="mini.faction === currentFaction && mini.rank === 'Corps' && (mini.released || showUnreleased)" [unit]="mini"></app-unit-detail></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <img src="assets\images\Special Forces.png" class="rankImage"><span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <span *ngFor="let mini of units"><app-unit-detail *ngIf="mini.faction === currentFaction && mini.rank === 'Special Forces' && (mini.released || showUnreleased)" [unit]="mini"></app-unit-detail></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <img src="assets\images\Support.png" class="rankImage"><span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <span *ngFor="let mini of units"><app-unit-detail *ngIf="mini.faction === currentFaction && mini.rank === 'Support' && (mini.released || showUnreleased)" [unit]="mini"></app-unit-detail></span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <img src="assets\images\Heavy.png" class="rankImage"><span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                <span *ngFor="let mini of units"><app-unit-detail *ngIf="mini.faction === currentFaction && mini.rank === 'Heavy' && (mini.released || showUnreleased)" [unit]="mini"></app-unit-detail></span>
            </div>
        </div>
    </div>
</div>
<h3 class="text-center">Command Cards</h3>
<span *ngFor="let card of commandCards"><app-command-list *ngIf="card.toDisplay" [card]="card"></app-command-list></span>

