<div class="row">
    <div class="col-xs-11">
        <li class="list-group-item clearfix">
                <div class="col-xs-11">
                    {{ card.name }} ({{ card.pips }})
                </div>
                <div class="col-xs-1">
                  <span>
                    <img (click)="imageToggle()" src="{{ card.image }}" class="{{ imageClass }}" style="cursor: pointer;">
                  </span>
                </div>
              </li>
    </div>
    <div class="col-xs-1">
        <a (click)="onAddCommand()" style="cursor: pointer;"><span class="glyphicon glyphicon-plus-sign" title="Add to List"></span></a>
    </div>
</div>
