<div>
  <h1>Units</h1>
  <span *ngFor="let unit of list" class="dotless">
    {{ unit.name }} ({{ unit.cost }})
    <span *ngFor="let upgrade of unit.chosenUpgrades">
      <li *ngIf="upgrade.name" class="dotless"> - {{ upgrade.name }} ({{ upgrade.cost }})</li>
    </span>
    <br>
  </span>
  <h3>Total points: {{ points }}</h3>
</div>
<div>
  <h1>Command Cards</h1>
   <li *ngFor="let card of commandList">
      - {{ card.name }} ({{ card.pips }})
  </li>
</div>
<div class="text-center"><a routerLink="/">Back to List</a></div>
